# 1°

#### Importando as bibliotecas pandas e numpy

In [2]:
import pandas as pd
import numpy as np

#### Lendo os arquivos que foram upados em meu github, utilizando o sep para colocar como padrao a divisao de linhas e colunas por ';' e o encoding para corrigir os erros presentes de acentuação, colocando latin_1 que possue acentuação da europa e america.

In [3]:
data2020 = pd.read_csv('https://raw.githubusercontent.com/antoniofariass/Data-Analysis/main/Projeto_Acidentes/datatran2020.csv', sep=';', encoding = 'latin_1')
data2019 = pd.read_csv('https://raw.githubusercontent.com/antoniofariass/Data-Analysis/main/Projeto_Acidentes/datatran2019.csv', sep=';', encoding = 'latin_1')

# 2ª 

## (a) quantos acidentes ocorreram em cada ano?

#### Sabendo que o total de acidentes são os numeros de linhas de cada dataframe, utilizei do len para ler o numero presente de linhas no .index

In [3]:
print(f' Total de acidentes em 2019: {len(data2019.index)}')
print(f' Total de acidentes em 2020: {len(data2020.index)}')

 Total de acidentes em 2019: 67446
 Total de acidentes em 2020: 63447

## (b) quantas variáveis cada conjunto de dados registra?

#### Utilizando-se da mesma linha de pensamento anterior, len para ler o numero de colunas que o .columns nos da

In [4]:
print(f'Total de variáveis por conjunto: {len(data2020.columns)}')

Total de variáveis por conjunto: 30

## (c) quais as cinco cidades brasileiras onde mais ocorreram acidentes em rodovias federais?

#### Utilizei a função value_counts para contar quantas vezes cada municipio aparece na coluna "municipio" do dataframe e a função .head() para pegar os 5 primeiros da lista, na qual estao as cidades com mais acidentes

In [5]:
newdata19 = data2019.value_counts(['municipio']).head()
newdata20 = data2020.value_counts(['municipio']).head()

#### Printando as variaveis junto com as frases indicativas

In [6]:
print('RANKING DAS 5 CIDADES BRASILEIRAS COM MAIS ACIDENTES EM 2019')
print(newdata19)

RANKING DAS 5 CIDADES BRASILEIRAS COM MAIS ACIDENTES EM 2019
municipio
CURITIBA     1094
BRASILIA     1090
SAO JOSE      819
GUARULHOS     717
SERRA         633
dtype: int64

In [7]:
print('RANKING DAS 5 CIDADES BRASILEIRAS COM MAIS ACIDENTES EM 2020')
print(newdata20)

RANKING DAS 5 CIDADES BRASILEIRAS COM MAIS ACIDENTES EM 2020
municipio
BRASILIA     1040
CURITIBA      945
GUARULHOS     639
SAO JOSE      629
PALHOCA       593
dtype: int64

## (d) quantos acidentes com feridos graves aconteceram na Paraíba em 2019?

#### Primeiro fiz o filtro, na coluna 'uf' igualei a 'PB' para toda linha que tiver 'PB' ser retornado True.

In [8]:
filtro_pb = data2019['uf'] == 'PB'

#### Com o filtro definido, selecionei as linhas 'PB' com a condição de 'feridos_graves' maiores que 0 assim ele ira retornar todas os acidentes que tiveram feridos graves na paraiba

In [9]:
acidentes = data2019[filtro_pb]['feridos_graves'] > 0

#### No print, usei a função .sum() para somar todos os True que apareceram na variavel acidente!

In [10]:
print(f'Ocorreram {acidentes.sum()} acidentes com feridos graves na Paraíba em 2019!')

Ocorreram 414 acidentes com feridos graves na Paraíba em 2019!

# 3ª

## (a) ranking de acidentes por estado para ambos os anos (um só arquivo combinando a informação dos dois anos);

#### Primeiramente, usando a função value_counts() somei as vezes que cada uf aparece, totalizando o numero de acidentes por uf.

In [11]:
acidentes2019 = data2019.value_counts(['uf'])
acidentes2020 = data2020.value_counts(['uf'])

#### Com o total, somei as series dos dois anos, transformei em data frame usando o to_frame(), e ordenei em ordem crescente com o sort_values() apos isso, utilizei o iloc -1 para inverter a ordem e começar do final,assim, fez com que se transformasse em ordem decrescente.

In [12]:
total_acidentes = (acidentes2019+acidentes2020).to_frame().sort_values(by = 0).iloc[::-1]

#### Usando o .to_csv() para transformar o data frame em um arquivo .csv dentro do arquivo do projeto

In [13]:
total_acidentes.to_csv(r'total_acidentes.csv')

#### Lendo o arquivo csv que esta dentro do projeto

In [14]:
pd.read_csv('total_acidentes.csv')

    uf      0
0   MG  17083
1   SC  15645
2   PR  14876
3   RJ   8828
4   RS   8771
5   SP   8417
6   BA   6914
7   GO   6580
8   ES   5372
9   PE   5293
10  MT   4326
11  CE   3263
12  RO   3018
13  MS   2974
14  PB   2965
15  RN   2770
16  PI   2546
17  MA   2226
18  DF   2130
19  PA   1776
20  AL   1257
21  SE   1186
22  TO   1115
23  AC    554
24  RR    487
25  AP    283
26  AM    238

## (b) acidentes por dia da semana para ambos os anos (um só arquivo combinando a informação dos dois anos).

#### Usando-se novamente a função value_counts() para se somar todas as vezes que aparece cada dia da semana.

In [15]:
semana2019 =data2019.value_counts(['dia_semana'])
semana2020 = data2020.value_counts(['dia_semana'])

#### Após somar os dias, somei as 2 variaveis que representam os 2 anos, e transformei em um dataframe.

In [16]:
total_semana = (semana2019 + semana2020).to_frame()

#### Usando o .to_csv() para transformar o data frame em um arquivo .csv dentro do arquivo do projeto

In [17]:
total_semana.to_csv(r'total_semana.csv')

#### Lendo o arquivo csv que esta dentro do projeto

In [18]:
pd.read_csv('total_semana.csv')

      dia_semana      0
0        domingo  21706
1   quarta-feira  16516
2   quinta-feira  16981
3  segunda-feira  17638
4    sexta-feira  20131
5         sábado  21744
6    terça-feira  16177

# 4ª 

## (a) qual a causa mais frequente e a mais rara de acidentes registrados nos dois anos?

#### Utilizei novamente o value_counts() para descobrir quais causas apareciam mais e quais menos de cada ano depois usei o tail() para pegar os ultimos, na qual representam os mais raros e o head para para pegar o primeiro, que representa o mais frequente.

#### No caso de 2020, se usou o tail(10), pois os 10 ultimos(os mais raros),tiveram apenas uma unica vez, logo foram enquadrados como raro!

In [19]:
maisrara2020 = data2020.value_counts(['causa_acidente']).tail(10)
maisrara2019 = data2019.value_counts(['causa_acidente']).tail(1)
maisfrequente2020 = data2020.value_counts(['causa_acidente']).head(1)
maisfrequente2019 = data2019.value_counts(['causa_acidente']).head(1)

#### Printando os casos junto com frases indicativas

In [20]:
print(f''' A causa mais rara de 2019:
{maisrara2019},

As causas mais raras de 2020:
{maisrara2020},

A causa mais frequente de 2019:
{maisfrequente2019}

A causa mais frequente de 2020:
{maisfrequente2020}''')

 A causa mais rara de 2019:
causa_acidente
Ingestão de Substâncias Psicoativas    94
dtype: int64,

As causas mais raras de 2020:
causa_acidente
Acumulo de óleo sobre o pavimento                                 1
Afundamento ou ondulação no pavimento                             1
Pedestre cruzava a pista fora da faixa                            1
Acumulo de água sobre o pavimento                                 1
Condutor usando celular                                           1
Trafegar com motocicleta (ou similar) entre as faixas             1
Ausência de sinalização                                           1
Ingestão de álcool ou de substâncias psicoativas pelo pedestre    1
Acostamento em desnível                                           1
Frear bruscamente                                                 1
dtype: int64,

A causa mais frequente de 2019:
causa_acidente
Falta de Atenção à Condução    24992
dtype: int64

A causa mais frequente de 2020:
causa_acidente
Falta de Atenção à Condução    22414
dtype: int64

## (b) qual a proporção de pessoas ilesas e de feridos graves por mês em cada um dos anos considerados? (proporção = numero de ilesos ou feridos graves/ número total de pessoas envolvidas no acidente);

#### Criando uma lista com todos os meses do ano

In [21]:
meses = ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro']

#### Utilizei o groupby para agrupar na coluna data_inversa os meses utilizando o datetimeindex para transformar a str que representa a data  em uma data numerica que a função consiga ler e usei a função month com o intuito de separar os meses do ano e a função para somar os ilesos por mês.

In [22]:
vitimasilesas2019 = data2019.groupby(pd.DatetimeIndex(data2019.data_inversa).month)['ilesos'].sum()

#### Criei um array com o numero de vitimas ilesas por mes

In [23]:
ilesos2019 = pd.array(vitimasilesas2019)

#### Basicamente a mesma coisas do codigo acima, so que dessa vez foi para os feridos graves

In [24]:
feridosgraves2019 =  data2019.groupby(pd.DatetimeIndex(data2019.data_inversa).month)['feridos_graves'].sum()

#### Criei um array com o numero de feridos graves por mes

In [25]:
graves2019 = pd.array(feridosgraves2019)

#### Mesma coisa so que com o total de pessoas dessa vez

In [26]:
total2019 = data2019.groupby(pd.DatetimeIndex(data2019.data_inversa).month)['pessoas'].sum()

#### Criei um array com o numero de pessoas por mes

In [27]:
totalpessoas2019 = pd.array(total2019)

#### Fazendo a proporção de ilesos e graves pelo total de pessoas

In [28]:
divisaoilesos2019 = ilesos2019/totalpessoas2019
divisaograves2019 = graves2019/totalpessoas2019

#### Criando um dicionario com a nomeação e seus respectivas divisões

In [29]:
resposta2019 = {'Ilesos 2019':divisaoilesos2019,'Feridos Graves 2019': divisaograves2019}

#### Transformando em um dataframe com o index da list criada no começo da resolução da questão

In [30]:
transformindata2019 = pd.DataFrame(resposta2019,index=meses)
transformindata2019

           Ilesos 2019  Feridos Graves 2019
Janeiro       0.424224             0.113264
Fevereiro     0.424104             0.106789
Março         0.433193             0.114599
Abril         0.415685             0.105970
Maio          0.415162             0.120750
Junho         0.423757             0.121617
Julho         0.436815             0.116670
Agosto        0.413084             0.116683
Setembro      0.421064             0.110656
Outubro       0.418922             0.119805
Novembro      0.425812             0.111047
Dezembro      0.422265             0.114405

#### Mesma coisa descrita anteriormente so que dessa vez para o ano de 2020.

In [31]:
vitimasilesas2020= data2020.groupby(pd.DatetimeIndex(data2020.data_inversa).month)['ilesos'].sum()
ilesos2020 = pd.array(vitimasilesas2020)

feridosgraves2020 =  data2020.groupby(pd.DatetimeIndex(data2020.data_inversa).month)['feridos_graves'].sum()
graves2020 = pd.array(feridosgraves2020)

total2020 = data2020.groupby(pd.DatetimeIndex(data2020.data_inversa).month)['pessoas'].sum()
totalpessoas2020 = pd.array(total2020)

divisaoilesos2020 = ilesos2020/totalpessoas2020
divisaograves2020 = graves2020/totalpessoas2020

resposta2020 = {'Ilesos 2020':divisaoilesos2020,'Feridos Graves 2020': divisaograves2020}
transformindata2020 = pd.DataFrame(resposta2020,index=meses)
transformindata2020

           Ilesos 2020  Feridos Graves 2020
Janeiro       0.415565             0.107463
Fevereiro     0.420011             0.111356
Março         0.401040             0.112421
Abril         0.376492             0.117780
Maio          0.401271             0.115812
Junho         0.423486             0.115896
Julho         0.424454             0.108501
Agosto        0.423510             0.118872
Setembro      0.416369             0.117303
Outubro       0.411188             0.119475
Novembro      0.407667             0.120060
Dezembro      0.412464             0.121702

## (c) mostre, reorganizando o conjunto de dados, se a pandemia conseguiu diminuir ou não a incidência de acidentes nas rodovias federais.

#### Nas variaveis a seguir, usando a função value_counts() somei os casos por estado

In [32]:
acidentes2019 = data2019.value_counts(['uf'])
acidentes2020 = data2020.value_counts(['uf'])

#### Na variavel resultado, subtrai os casos de 2020 pelos de 2019, dividindo pelos de 2019 e multiplicando por 100 para pegar a porcentagem. apos isso, limitei as casas decimais com a função .round() e transformei os resultados em strings para acrescentar o simbolo da porcentagem.

In [33]:
resultado = (((acidentes2020-acidentes2019)/acidentes2019)*100).round(1).astype(str) + '%'

#### Com a varivel acidentestotal, usei a função concat, para juntar as series criadas anteriormente, usei o parametro axis = 1 para indicar o eixo que quero concatenar, no caso as colunas representadas pelo número 1.

In [34]:
acidentestotal = pd.concat([acidentes2019,acidentes2020,resultado],axis=1).sort_values(by=0)

#### Com a função columns, atribui os nomes das colunas '2019','2020' e 'Resultados', que antes eram representadas por números em ordens crescente.

In [35]:
acidentestotal.columns=['2019','2020','Resultados']
acidentestotal

    2019  2020 Resultados
uf
AM   101   137      35.6%
AP   128   155      21.1%
RR   237   250       5.5%
AC   254   300      18.1%
TO   520   595      14.4%
SE   612   574      -6.2%
AL   629   628      -0.2%
PA   817   959      17.4%
MA  1075  1151       7.1%
DF  1090  1040      -4.6%
PI  1346  1200     -10.8%
MS  1435  1539       7.2%
RN  1437  1333      -7.2%
RO  1533  1485      -3.1%
PB  1564  1401     -10.4%
CE  1694  1569      -7.4%
MT  2137  2189       2.4%
PE  2736  2557      -6.5%
ES  2842  2530     -11.0%
GO  3354  3226      -3.8%
BA  3471  3443      -0.8%
SP  4377  4040      -7.7%
RS  4595  4176      -9.1%
RJ  4606  4222      -8.3%
PR  7708  7168      -7.0%
SC  8428  7217     -14.4%
MG  8720  8363      -4.1%

## Conclusão: concluimos então que houve uma diminuição de acidentes em alguns estados, 18 estados tiveram o número de acidentes diminuídos por causa da pandemia, enquanto apenas 9 tiveram os seus aumentados ,em total, podemos concluir que do ano de 2019 para o de 2020, houve sim uma diminuição de casos.